* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif; }

:root {
  --orange-color: #ff6b00;
  --black-color: #101010;
  --secondary-black-color: #606060;
  --light-color: #fff5ef;
  --whitw-color:#fff; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--whitw-color);
  width: 100%;
  gap: 10px;
  padding: 25px 60px; }
  .navbar__logo {
    flex-basis: 20%; }
    .navbar__logo img {
      width: 90px; }
  .navbar__menu {
    display: flex;
    justify-content: center;
    flex-basis: 60%;
    font-size: 15px;
    font-weight: 500;
    gap: 20px; }
    .navbar__menu ul {
      display: flex;
      flex-direction: row;
      list-style: none; }
    .navbar__menu ul li {
      padding: 30px 0; }
    .navbar__menu li a {
      text-decoration: none;
      color: var(--black-color);
      padding: 0 12px;
      transition: all .3s; }
    .navbar__menu li a:hover {
      color: var(--orange-color); }
  .navbar__contact {
    display: flex;
    flex-basis: 20%;
    justify-content: right; }
    .navbar__contact a {
      text-decoration: none; }
    .navbar__contact-bold {
      font-size: 16px;
      font-weight: 700;
      color: var(--black-color);
      transition: all .3s; }
      .navbar__contact-bold:hover {
        color: var(--orange-color); }

.header {
  position: relative;
  width: 100%;
  background: var(--light-color);
  display: flex;
  padding: 0 50px 0 140px; }
  .header .header-left {
    flex-basis: 60%; }
    .header .header-left .up-banner {
      margin-left: -110px; }
      .header .header-left .up-banner img {
        width: 70px;
        margin-top: 20px; }
    .header .header-left .sub-heading {
      display: flex;
      margin-bottom: 10px; }
      .header .header-left .sub-heading p {
        font-size: 16px;
        color: var(--black-color);
        text-transform: uppercase;
        padding-left: 10px; }
    .header .header-left .animate-heading h1 {
      font-size: 60px;
      line-height: -10px;
      padding-right: 18%;
      font-weight: 700;
      margin: 0; }
      .header .header-left .animate-heading h1 .wrapper {
        color: var(--orange-color); }
    .header .header-left .info p {
      font-size: 18px;
      font-weight: 400;
      margin: 0;
      margin-top: 20px;
      line-height: 1.7em;
      color: var(--secondary-black-color); }
    .header .header-left .btn {
      margin-top: 50px; }
      .header .header-left .btn a {
        text-decoration: none;
        color: #fff;
        background-color: var(--orange-color);
        border-radius: 6px;
        padding: 10px 20px;
        font-size: 21px;
        font-weight: 500;
        text-transform: capitalize;
        border: 1px solid var(--orange-color);
        transition: all 0.5s; }
    .header .header-left .btn a:hover {
      background: black;
      color: var(--orange-color);
      box-shadow: inset 5em 0 0 0 #000, inset -5em 0 0 0 #000; }
    .header .header-left .down-banner {
      margin-bottom: 23px;
      text-align: center;
      animation: floatUpDown 3s infinite ease-in-out; }
      .header .header-left .down-banner img {
        width: 70px; }
  .header .header-right {
    position: relative; }
    .header .header-right .image img {
      position: absolute;
      width: 400px;
      margin-top: 30px;
      top: 0; }
    .header .header-right .bg-img img {
      margin: 40px 10px;
      width: 350px;
      animation-name: image-anim;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: linear; }

@keyframes image-anim {
  0% {
    top: 0;
    left: 0; }
  50% {
    top: 100%;
    left: 0; }
  100% {
    top: 0;
    left: 0; } }

.about {
  padding: 130px 95px 50px 100px;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .about .about-left {
    flex-basis: 45%;
    border-radius: 6px;
    opacity: 1; }
    .about .about-left img {
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
      border-radius: 6px; }
  .about .about-left img:hover {
    opacity: 1; }
  .about .about-right {
    flex-basis: 55%;
    padding: 45px 50px 0px 30px; }
    .about .about-right .sub-heading {
      display: flex;
      margin-bottom: 10px; }
      .about .about-right .sub-heading p {
        font-size: 16px;
        color: var(--black-color);
        text-transform: uppercase;
        padding-left: 10px; }
    .about .about-right h2 {
      font-size: 44px;
      font-weight: 700;
      color: var(--black-color);
      line-height: 1.3em; }
    .about .about-right .info {
      margin-top: 20px;
      font-size: 16px;
      line-height: 1.7em;
      color: var(--secondary-black-color); }
    .about .about-right .description {
      display: flex;
      justify-content: space-between;
      margin-top: 50px; }
      .about .about-right .description .complete {
        display: flex;
        flex-basis: 50%;
        padding: 0 10px; }
        .about .about-right .description .complete .one {
          margin-right: 10px; }
        .about .about-right .description .complete .one-info {
          font-size: 21px;
          font-size: 700;
          color: var(--orange-color); }
        .about .about-right .description .complete span h4 {
          color: var(--black-color);
          font-size: 21px;
          font-weight: 500px; }
      .about .about-right .description .experience {
        display: flex;
        padding: 0 10px; }
        .about .about-right .description .experience .tow {
          margin-right: 10px; }
        .about .about-right .description .experience .tow-info {
          font-size: 21px;
          font-size: 700;
          color: var(--orange-color); }
        .about .about-right .description .experience span h4 {
          color: var(--black-color);
          font-size: 21px;
          font-weight: 500px; }
    .about .about-right .fead-up {
      margin-top: 50px; }
      .about .about-right .fead-up .row-1 {
        display: flex;
        justify-content: space-between;
        align-items: start; }
        .about .about-right .fead-up .row-1 .work {
          display: flex;
          padding: 15px 12px; }
          .about .about-right .fead-up .row-1 .work i {
            font-size: 16;
            color: var(--orange-color);
            margin-right: 10px; }
          .about .about-right .fead-up .row-1 .work p {
            font-size: 16px;
            color: var(--secondary-black-color); }
        .about .about-right .fead-up .row-1 .web {
          display: flex;
          padding: 15px 12px; }
          .about .about-right .fead-up .row-1 .web i {
            font-size: 16;
            color: var(--orange-color);
            margin-right: 10px; }
          .about .about-right .fead-up .row-1 .web p {
            font-size: 16px;
            color: var(--secondary-black-color); }
      .about .about-right .fead-up .row-2 {
        display: flex;
        justify-content: space-between;
        align-items: start; }
        .about .about-right .fead-up .row-2 .new {
          display: flex;
          padding: 15px 12px; }
          .about .about-right .fead-up .row-2 .new i {
            font-size: 16;
            color: var(--orange-color);
            margin-right: 10px; }
          .about .about-right .fead-up .row-2 .new p {
            font-size: 16px;
            color: var(--secondary-black-color); }
        .about .about-right .fead-up .row-2 .revision {
          display: flex;
          padding: 15px 30px 0  15px; }
          .about .about-right .fead-up .row-2 .revision i {
            font-size: 16;
            color: var(--orange-color);
            margin-right: 10px; }
          .about .about-right .fead-up .row-2 .revision p {
            font-size: 16px;
            color: var(--secondary-black-color); }
    .about .about-right .btn {
      margin-top: 50px; }
      .about .about-right .btn a {
        text-decoration: none;
        color: #fff;
        background-color: var(--orange-color);
        border-radius: 6px;
        padding: 10px 20px;
        font-size: 21px;
        font-weight: 500;
        text-transform: capitalize;
        transition: all 0.5s;
        border: 1px solid var(--orange-color); }
    .about .about-right .btn a:hover {
      background: black;
      color: var(--orange-color);
      box-shadow: inset 5em 0 0 0 #000, inset -5em 0 0 0 #000; }

.service {
  padding: 65px 0px 130px 0px; }
  .service .container {
    padding: 0 100px; }
    .service .container .row {
      padding: 0 12px; }
      .service .container .row .heading {
        text-align: center; }
        .service .container .row .heading .sub-heading {
          display: flex;
          justify-content: center;
          margin-bottom: 10px; }
          .service .container .row .heading .sub-heading p {
            font-size: 16px;
            color: var(--black-color);
            text-transform: uppercase;
            padding-left: 10px; }
        .service .container .row .heading h2 {
          font-size: 44px;
          font-weight: 700;
          color: var(--black-color);
          text-transform: uppercase;
          line-height: 1.3em; }
      .service .container .row .service-grid {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 24px;
        box-sizing: border-box; }
        .service .container .row .service-grid .grid-1 {
          padding: 50px 30px;
          border: 1px solid var(--light-color);
          border-radius: 6px;
          transition: all .3s;
          text-align: center; }
          .service .container .row .service-grid .grid-1 img {
            margin-bottom: 25px; }
          .service .container .row .service-grid .grid-1 h3 {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 13px;
            color: var(--black-color); }
          .service .container .row .service-grid .grid-1 p {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.7em;
            color: var(--secondary-black-color); }
        .service .container .row .service-grid .grid-1:hover {
          background: var(--light-color); }
