.header {
  position: relative;
  width: 100%;
  background: var(--light-color);
  display: flex;
  padding: 0 50px 0 140px;
  .header-left {
    flex-basis: 60%;
    margin-top: 52px;

    .up-banner {
      margin-left: -110px;
      img {
        width: 70px;
        position: absolute;
        margin-top: -17px;
        animation-name: cercal;
        animation-duration: .3s;
        animation-iteration-count: infinite;
     
        @keyframes cercal {
          0% {
            transform: scale(1.1);
        }
      }
    }
  }

    .sub-heading {
      display: flex;
      margin-bottom: 10px;
      p {
        font-size: 16px;
        color: var(--black-color);
        text-transform: uppercase;
        padding-left: 10px;
      }
    }
    .animate-heading h1 {
      font-size: 60px;
      line-height: -10px;
      padding-right: 18%;
      font-weight: 700;

      margin: 0;
      .wrapper {
        color: var(--orange-color);
      }
    }
    .info p {
      font-size: 18px;
      font-weight: 400;
      margin: 0;
      margin-top: 20px;
      line-height: 1.7em;
      color: var(--secondary-black-color);
    }
  
    .submit-btn {
      position: relative;
      overflow: hidden;
      color: #fff;
      margin-top: 40px;
      padding: 12px 45px;
      background-color: var(--orange-color);
      border-radius: 6px;
      font-size: 21px;
      font-weight: 500;
      text-transform: capitalize;
      border: 1px solid transparent;
      transition: all 0.6s;
      a{
        text-decoration: none;
        color: var(--whitw-color);
      }

      span {
        position: relative !important;
        z-index: 1 !important;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 100%;
        width: 100%;
        height: 100%;
        background-color: var(--black-color);
        visibility: hidden;
        transition: all 1s ease;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: var(--black-color);
        visibility: hidden;
        transition: all 1s ease;
      }
      &:hover {
        color: #fff;
        &::before {
          visibility: visible;
          transform: rotate(0deg);
          right: 0;
        }
        &::after {
          visibility: visible;
          transform: rotate(0deg);
          left: 0;
        }
      }
    }
    .down-banner {
      margin-bottom: 23px;
      text-align: center;
      animation: floatUpDown 3s infinite ease-in-out;
      img {
        width: 70px;
        @keyframes  floatUpDown  {
          0%{
            margin-left: 50px;
          }
          50%{
            margin-right: 50px;

          }
          100%{
            margin-left: 50px;
          }
          
        }
      }
    }
  }

  .header-right {
    position: relative;
    .image img {
      position: absolute;
      width: 109%;
      margin-left: 19px;
      top: 0;
    }
    .bg-img img {
      margin: 40px 10px;
      width: 350px;
      animation-name: image-anim;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      @keyframes image-anim {
       0%{
       margin-top: 10px;
       }
       50%{
        margin-bottom: 10px;
        transform: translate(10%,10%);
       }
       100%{
        margin-top: 10px;

       }
      }
    }
  }
}
