.portfolio {
  padding: 65px 0;
  .container {
    padding: 0 100px;
    .heading {
      text-align: center;
      .sub-heading {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        p {
          font-size: 16px;
          color: var(--black-color);
          text-transform: uppercase;
          padding-left: 10px;
        }
      }
      h2 {
        font-size: 44px;
        font-weight: 700;
        color: var(--black-color);
      }
    }
    .mobile-row {
      margin-top: 50px;

      .controls {
        margin-bottom: 45px;
        display: flex;
        justify-content: center;
        gap: 20px;
        button {
          font-weight: 500;
          font-size: 15px;
          padding: 15px;
          border: none;
          background: transparent;
          position: relative;
          color: var(--secondary-black-color);
          &:hover {
            &::after {
              content: "";
              position: absolute;
              height: 2px;
              width: 30%;
              bottom: 0;
              left: 50%;
              transform: translatex(-50%);
              background-color: var(--orange-color);
            }
          }
        }
      }
    }
  }
}
